<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :tournament_id, class: "form-label" %>
    <select name="team[tournament_id]" class="form-select" aria-label="Default select example">
      <% tournaments_array.each do |c| -%>
        <%= content_tag(:option, c[0], value: c[1]) %>
      <% end %>
    </select>
  </div>

  <div class="actions">
    <%= form.button 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
