<h1 class="d-flex justify-content-center p-3 mb-2 bg-light">Editing Team</h1>

<div class="bd-layout container-xxl">
<%= render 'form', team: team %>

<%= link_to 'Show', team %> |
<%= link_to 'Back', teams_path %>
</div>
