<h1 class="d-flex justify-content-center p-3 mb-2 bg-light">Teams</h1>

<div class="bd-layout container-xxl">
  <% if teams.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tournament</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% teams.each do |team| %>
          <tr>
            <td><%= link_to team.name, team, class: "btn btn-secondary", role: "button"  %></td>
            <td>
              <% team.tournaments.each do |t| %>
                <%= link_to t.name, t %><br/>
              <% end %>
            </td>
            <td><%= link_to 'Edit', edit_team_path(team) %></td>
            <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<%= link_to 'New Team', new_team_path, class: "btn btn-danger d-flex justify-content-center", role: "button"  %>
<br/><br/>
</div>

