<h1 class="d-flex justify-content-center p-3 mb-2 bg-light">
  Team: <%= team.name %>
</h1>

<div class="bd-layout container">
<div class="row">
  <div class="col-2">
    <strong>Name:</strong>
  </div>
  <div class="col-3">
    <%= team.name %>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <strong>Tournaments:</strong>
  </div>
  <div class="col-3">
    <% team.tournaments.each do |t| %>
      <%= link_to t.name, t %><br/>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_team_path(team) %> |
<%= link_to 'Back', teams_path %>
</div>
