<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament&.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3 alert alert-success" role="alert">
    <b><%= form.label :status, class: "form-label" %>:</b>
    <%= tournament.aasm_state&.humanize %>
  </div>

  <div class="mb-3 actions">
    <%= form.button 'Save', :class => 'btn btn-primary' %>
  </div>

<% end %>
