<h1 class="d-flex justify-content-center p-3 mb-2 bg-light">Tournaments</h1>

<div class="bd-layout container-xxl">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Winner</th>
      <th scope="col">Finalist</th>
      <th scope="col">Play</th>
      <th scope="col">Results</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament, class: "btn btn-secondary", role: "button" %></td>
        <td><%= tournament.status.humanize %></td>
        <td>
          <% if tournament.winner %>
            <%= link_to tournament.winner.name, tournament.winner, class: "btn btn-success", role: "button"%>
          <% end %>
        </td>
        <td>
          <% if tournament.finalist %>
            <%= link_to tournament.finalist.name, tournament.finalist, class: "btn btn-success", role: "button" %>
          <% end %>
        </td>
        <td>
          <% unless tournament.done? %>
            <%= link_to 'Play Tournament', play_index_tournament_path(tournament), class: "btn btn-danger", role: "button" %>
          <% end %>
        </td>
        <td>
          <% if tournament.done? %>
            <%= link_to 'Display Resluts', results_tournament_path(tournament), class: "btn btn-success", role: "button" %>
          <% end %>
        </td>
        <td><%= link_to 'Teams', tournament_teams_url(tournament) %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create Tournament', new_tournament_path, class: "btn btn-danger d-flex justify-content-center", role: "button" %>
<br/><br/>
</div>
