<h1 class="d-flex justify-content-center p-3 mb-2 bg-light">New Tournament</h1>

<div class="bd-layout container-xxl">
<%= render 'form', tournament: tournament %>

<%= link_to 'Back', tournaments_path %>
</div>
