<h1 class="d-flex justify-content-center p-3 mb-2 bg-light">Play Tournament: <%= tournament.name %></h1>

<div class="bd-layout container-xxl">
  <%= form_with url: play_start_tournament_path, local: true do |form| %>

    <% if tournament.errors.any? %>
      <div class="alert alert-danger">
        <h3><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being played:</h3>

        <ul>
          <% tournament.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless tournament.full_group?  %>
      <div id="notice" class="alert alert-warning alert-dismissible fade show">
        To start game teams count in the tournir should be
        <b><%= ::PlayService::GROUP_SIZE %></b>.
        Please,
        <%= link_to "add more teams", new_team_path %>.
      </div>
    <% end %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Teams:</h5>
        <ol class="list-group list-group-flush">
          <% teams_array.each do |t| -%>
            <li class="list-group-item">
              <%= link_to(t.name, t) %>
            </li>
          <% end %>
        </ol>
      </div>
      <div class="actions card-body">
        <% if tournament.playable? %>
          <%= form.button 'Play Tournament', :class => 'btn btn-danger' %>
        <% end %>

        <% unless tournament.full_group? %>
          <%= link_to 'Add Team', new_team_path, class: "btn btn-danger d-flex justify-content-center", role: "button"  %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
