<h1 class="d-flex justify-content-center p-3 mb-2 bg-light">
  Tournament: <%= tournament.name %>
</h1>

<div class="bd-layout container">
<div class="row">
  <div class="col-1">
    <strong>Name:</strong>
  </div>
  <div class="col-3">
    <%= tournament.name %>
  </div>
</div>

<div class="row">
  <div class="col-1">
    <strong>Status:</strong>
  </div>
  <div class="col-3">
    <%= tournament.status&.humanize %>
  </div>
</div>

<div class="row">
  <div class="col-1">
    <strong>Winner:</strong>
  </div>
  <div class="col-3">
    <% if tournament.winner %>
      <%= link_to tournament.winner.name, tournament.winner %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-1">
    <strong>Finalist:</strong>
  </div>
  <div class="col-3">
    <%= tournament.finalist %>
  </div>
</div>

<%= link_to 'Edit', edit_tournament_path(tournament) %> |
<%= link_to 'Back', tournaments_path %>
</div>
