<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-light md">
    <div class="d-flex justify-content-center p-3 mb-2 bg-light bd-example">
      <a class="btn btn-primary" role="button" href="/">Home</a> &nbsp;
      <a class="btn btn-primary" role="button" href="<%= tournaments_path %>">Tournaments</a> &nbsp;
      <a class="btn btn-primary" role="button" href="<%= teams_path %>">Teams</a> &nbsp;
    </div>

    <% if notice.present? %>
      <div id="notice" class="alert alert-success alert-dismissible fade show"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
